.mixin.out/
astralsorcery/
backups/
coremods/
discordsuite/
emoticons/
journeymap/
logs/*.tar*
mods/
resourcepacks/
saves/
server-resource-packs/
shaderpacks/
snapshots-server/
structures/
texturepacks/
.ReAuth.cfg
BotaniaVars.dat
*.code-workspace
icon.png
minecraftinstance.json
*.dll
*.pdf
usercache.json
usernamecache.json
